.newUser-form {
  border: 1px solid grey;
  padding: 20px;
  background-color: #F4F7F5;
}
.newUser-form .form-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
}
.newUser-form .form-container .form-field {
  width: 49%;
  display: inline-block;
}
