/* NUEVO CLIENTE  */

.gestion_demanda{

	.extended-row td{
		padding-top:0px;
	}

	#botones_ext{
		text-align:right;	
	}
	
	.usersTable {
	
		> .table > #myTable{
		.tipo_ed {
		    position: relative;
		    top: 5px;
		    width: 100px;
		}
		.estado_ed {
		    position: relative;
		    top: 5px;
		    width: 290px;
		}
	} 
	
		> .table th:nth-child(5),
	    > .table td:nth-child(5) {
		    width:85px;
		    
		    > input {
			    position: relative;
			    width: 120%;
			}
		}
	}
	#extended-demanda > .form-field > .fecha,
	#extended-demanda > .form-field > .tiempo
	{
		display:inline-block;
		vertical-align: text-top;
		.bootstrap-select.time{
			width:85px;		
		}
	}
	
	#extended-demanda > .form-field .lbl
	 {
	 font-weight:100;
	 margin-right:20px;
	 }
	 
	 #extended-demanda > .form-field > .fecha{
	 	.lbl{
		 	width:120px;
		 } 
		 
		#dp1 input{
			width:190px;
		}
	 } 

	.newUserbox .new-user-form-holder .form-container .form-field  .lbl,
	#extended-demanda > .form-field .lbl, 
	
	 {
		width:100px;
		margin-right:20px;	
		color: #434a58;		 
	    display: inline-block;
	    font-family: "BBVA Web Light";
	    font-size: 12px;
	    text-align: left;
		
		&.time-span{
			display: inline-block;
		    margin-left: 20px;
		    margin-right: 17px;
		    position: relative;
		    top: -5px;
		    width: 5px;
		}
	}
	
	.newUserbox .new-user-form-holder .form-container .form-field  .bootstrap-select.time {
		width:118px !important;
		display:inline-block;
	}

	
			
	.form-field.textarea textarea{
		height:80px;
	}
	
	.form-field.double > div > .bootstrap-select{
		width: 247px !important;	
	}
	
	.form-field .fecha , .form-field .tiempo{	 
	 
	 	.bootstrap-select.time:first-child{
	 		margin-left:20px;
	 	}
	 
	 	height:45px;	
	
		> span:first-child {
			position: relative;
			top: -16px;
		}	
		
		> .add-on{
			display: inline-block;
		    left: 206px;
		    position: relative;
		    top: -30px;
		    width: 40px;
			}
		}
		
	}
	
	
	
	.form-field .tiempo span.lbl{
	 		display:inline-block !important;
	 		top:0px !important;
	 	}
}

.gestion_demanda .extended-row .form-field{
	 .fecha{
	
		> .date > .add-on{
			top: -1px;
			left: -14px;
		}
		
		.lbl {
			top:5px;
		}
	} 
	.tiempo{
		> .lbl{
			 margin-right: 0 !important;
   			 width: 73px !important;
		}
	}
}