.gestion_coste{
	.newUserbox .new-user-form-holder .form-container .form-field > span {
		width: 114px;
		vertical-align:top;
		margin-right:15px;
	}
	
	.btn-atras{
		float:right;
		margin-top:20px;
	}
	
	textarea{
		height:60px;
	}
	
	.form-field-down{
		text-align:left;
		
		> span:first-child{
			margin-left: 15px;
			display:block;
			margin-bottom:10px;
			margin-top:10px;
		}
		
		.form-field{
		
			width:120px !important;
			margin-left: 15px;
		
			.input.labels{
				width:100%;
			
				.lbl:first-child{
					margin-right:32px;
				}
			}
		
			
			.horas{
				width:40px;
				margin-right:10px;
			}
			.coste{
				width:65px;				
			}
			
			&.total{
				width:130px !important;
				.input.total > .horas{
					margin-right:20px;
				}
				
				.input span:first-child{
					margin-right:5px;
				}
			}
			
			
		}
	}
} 