.table>tbody>tr>td {
	
	&.edit-impl-row {
		height:auto;
		width: 100px;
		padding: 5px;
		
		
		.controls {
			width: 100%;
			display: inline-block;
			
			.form-field {
				margin-left: 20px;
				margin-top: 5px;
				> span {
					width: 105px;
					display: inline-block;
					
					&.top {
						vertical-align: top;
					}
				}
				
				textarea {
					width: 88%;
					height: 70px;
				}
			}
		}
		
		.buttons {
			text-align: center;
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
}
