<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>GCS</display-name>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<!-- LISTADO DE SERVLETS -->
	
	  <servlet>
	    <servlet-name>DefaultConf</servlet-name>
	    <servlet-class>com.gcs.servlet.DefaultConf</servlet-class>
	  </servlet>
	
	  <servlet-mapping>
	    <servlet-name>DefaultConf</servlet-name>
	    <url-pattern>/defaultConf</url-pattern>
	  </servlet-mapping>
	
	  <servlet>
	    <servlet-name>DemandaServlet</servlet-name>
	    <servlet-class>com.gcs.servlet.DemandaServlet</servlet-class>
	  </servlet>
	
	  <servlet-mapping>
	    <servlet-name>DemandaServlet</servlet-name>
	    <url-pattern>/demandaServlet</url-pattern>
	  </servlet-mapping>
	
	  <servlet>
	    <servlet-name>UserServlet</servlet-name>
	    <servlet-class>com.gcs.servlet.UserServlet</servlet-class>
	  </servlet>
	
	  <servlet-mapping>
	    <servlet-name>UserServlet</servlet-name>
	    <url-pattern>/usersServlet</url-pattern>
	  </servlet-mapping>
	  
	    <servlet>
	    <servlet-name>ProyectoServlet</servlet-name>
	    <servlet-class>com.gcs.servlet.ProjectServlet</servlet-class>
	  </servlet>
	
	  <servlet-mapping>
	    <servlet-name>ProyectoServlet</servlet-name>
	    <url-pattern>/projectServlet</url-pattern>
	  </servlet-mapping>
	  
	   <servlet>
	    <servlet-name>ClienteServlet</servlet-name>
	    <servlet-class>com.gcs.servlet.ClienteServlet</servlet-class>
	  </servlet>
	
	  <servlet-mapping>
	    <servlet-name>ClienteServlet</servlet-name>
	    <url-pattern>/clienteServlet</url-pattern>
	  </servlet-mapping>
	
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>user</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    
    <!-- FILTROS -->

	<filter>
	    <filter-name>userFilter</filter-name>
	    <filter-class>com.gcs.filters.UserFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>userFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<filter>
	    <filter-name>ownerFilter</filter-name>
	    <filter-class>com.gcs.filters.OwnerFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>ownerFilter</filter-name>
	    <url-pattern>/admin/users.do</url-pattern>
	</filter-mapping>
	
	
	
	 
	<!-- ######################################## -->

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>jsp/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
