#alta_proyecto{

	#edit_service_dialog .modal_ajax .form-field{
	
		height: auto;
	
		div.input > input {
			width:100%;
		}
		
		#ref_local2_modal{
			margin-top:10px;
		}
	} 

	.usersTable.costes > .table th:nth-child(1),
	.usersTable.costes > .table td:nth-child(1) {
		max-width: 20px !important;
		width: 20px !important;
		
		
	}

	.form-field-divider .form-field #coste {
	    float: left;
	    margin-left: 51px;
	    margin-right: 0px !important;
	    width: 244px !important;
	}

	.form-field > .input.conectividad{
		> bootstrap-select{
			width: 100px !important;
			display:inline-block;
			position:relative;
		}
		
		> button {
			margin-right:0px;
		}
	} 

	#new_conectividad_dialog{
		width:700px;
		
		.form-field > span {
			width:75px;
			display:inline-block;
		}
		
		.bootstrap-select{
			width:220px;
		}
	}
	
	#edit_action_modal{
		.form-field{
			width:300px;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:20px;
			margin-top:20px;
		}
	}
	

	#edit_project_modal{
		.form-field{
			width:300px;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:20px;
			margin-top:20px;
		}
	}
	
	.newUserbox .new-user-form-holder .form-container.relatedOptions  {
		padding: 0 20px !important;
		text-align: left;
		
		fieldset{
			display: inline-block;
			border: 1px solid #dcdcdc;
			border-radius: 4px;
			text-align: left;
			padding: 5px;
			
			
			.lbl{
				display: block;
			}
		}
	}

	.newUserbox .new-user-form-holder .form-container.relatedOptions  h3 {
		text-align:left;
		color: #434a58;
   		font-size: 18px;
   		margin: 10px 0;
	}
	
	.newUserbox .new-user-form-holder .form-container.relatedOptions > #buttons_holder {
   		margin: 20px 0;
	}
	

    .btn-atras{
        float:right;
        margin-top:20px;
    }
    
      .usersTable > .table th:nth-child(1){
        max-width:121px !important;
        width:121px !important;
    }
    
    .usersTable > .table th:nth-child(2){
        max-width:155px !important;
        width:155px !important;
    }
    
    .usersTable > .table th:nth-child(3){
        max-width:155px !important;
        width:155px !important;
    }
    
     .usersTable > .table td:nth-child(4),
     .usersTable > .table th:nth-child(4){
        max-width:100px !important;
        width:100px !important;
    }
    
      .usersTable > .table td:nth-child(5){
      	 max-width:115px !important;
        width:115px !important;
      }
      
      .usersTable > .table th:nth-child(5){
        max-width:115px !important;
        width:115px !important;
        border-right:1px solid #dcdcdc;
        
        > input {
        	width:100%;
        }
        
        .usersTable > .table th:nth-child(6){
        	border-right:0px !important;
        }
        
        .usersTable > .table th:nth-child(7){
        	border-left:0px !important;
        }
    }
    
    .form-field-divider{
    	display:inline-block;
    	width:48%;
    	    	
    	&.left{
    		float:left;
    		margin-right:10px;
    	}
    	
    	&.right{
    		float:right;
    	}
    	
    	.form-field{
    		width:100%;
    		
    		> input{
    			float:right;
    		}
    		
    		div.input{
    			display:inline-block;
    			float:right;
    		}
    		
    		#coste{
    			width:137px;
    			float:left;
    			margin-left:51px;
    			margin-right:20px;
    		}
    		
    		.lbl.coste{
    			float:left;    			
    		}
    		
    		#newCostoModalButton{
    			margin-right:0px;
    		}
    	}
    }
    
    .modal_ajax{
    
    	display:inline-block !important;
    	.form-field{
    		width:100%;
    		height:40px;
    		
    		> input{
    			float:right;
    			width:220px;
    		}
    		
    		div.input{
    			display:inline-block;
    			float:right;
    			
    			
    			
    			> input{
    				width:220px;
    			}
    		}
    	}
    }
    
}

#buttons_holder{
	text-align:center;
}

#select_service_dialog{
	width:600px;
}

#edit_action_dialog{
	width:600px;
}

#newServicioButton{
	margin-right: 5px !important;
}