/* NUEVO CLIENTE  */

.gestion_demanda, .gestion_cliente{
	#botones_ext{
		text-align:right;	
	}
	
	.usersTable {
	
		> .table > #myTable{
		.tipo_ed {
		    position: relative;
		    top: 5px;
		    width: 100px;
		}
		.estado_ed {
		    position: relative;
		    top: 5px;
		    width: 290px;
		}
	} 
	
		> .table th:nth-child(5),
	    > .table td:nth-child(5) {
		    width:85px;
		    
		    > input {
			    position: relative;
			    width: 120%;
			}
		}
	}
	#extended-demanda > .form-field > .fecha,
	#extended-demanda > .form-field > .tiempo
	{
		display:inline-block;
		vertical-align: text-top;
		.bootstrap-select.time{
			width:85px;		
		}
	}
	
	#extended-demanda > .form-field .lbl
	{
		font-weight:100;
		margin-right:20px;
	}
	 
	#new-demanda-form .form-container,
	#new-client-form .form-container
	{
		text-align: left;
		.form-field-divider {
			vertical-align: top;
			display: inline-block;
			width: 50%;
			padding-left: 10px;
			&.left {
				padding-left: 40px;
			}
			&.right {
				padding-right: 40px;
			}
			.form-field {
				display: block;
				width: 100%;
				.lbl {
					position: inherit;
					top: 0;
					left: 0;
					margin-right: 10px;
				}
				.input {
					vertical-align: top;
					display: inline-block;
					width: 250px;
				}
				
				.radio-div {
				
					text-align:center;
				
					> .radio-container{
						display:inline-block;
						width:32%;
						
						label{
							color: #434a58;
							font-family:"BBVA Web Light";
							font-size:12px;
							margin-right:10px;
							font-weight:100;
						}
					}
				}
				
				.radio-field{
				
					display:inline-block;
					
					input{
						margin-right:5px;
					}
				
					span{
						margin-right:20px;
						color: #434a58;
						font-family:"BBVA Web Light";
						font-size:12px;
					}
				} 
			}
		}
	}
	.newUserbox .new-user-form-holder .form-container .form-field  .lbl,
	#extended-demanda > .form-field {
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 0;
		}
		.lbl {
			width:110px;
			margin-right:10px;	
			color: #434a58;		 
			display: inline-block;
			font-family: "BBVA Web Light";
			font-size: 12px;
			text-align: left;
			
			&.time-span {
				display: inline-block;
			    margin-left: 20px;
			    margin-right: 17px;
			    position: relative;
			    top: -5px;
			    width: 5px;
			}
		}
		.tiempo {
			.lbl {
				width: 80px;
			}
		}
	}
	
	.newUserbox .new-user-form-holder .form-container .form-field  .bootstrap-select.time {
		width:118px !important;
		display:inline-block;
	}

	
			
	.form-field.textarea textarea{
		height:80px;
		resize: none;
	}
	
	.form-field.double > div > .bootstrap-select{
		width: 247px !important;	
	}
	
	.form-field {
		.input {
			vertical-align: top;
			display: inline-block;
			width: 110px;
			margin-right: 20px;
			&.long {
				width: 320px;
			}
		}
		.fecha , .form-field .tiempo{	 
			height:45px;

		 	.bootstrap-select.time:first-child{
		 		margin-left:20px;
		 	}

			> .add-on{
				display: inline-block;
				left: 206px;
				position: relative;
				top: -30px;
				width: 40px;
			}
			
		}
	}
}