/* NUEVO CLIENTE  */

.gestion_demanda{

	

	.newUserbox .new-user-form-holder .form-container .form-field  .lbl {
		width:100px;
		margin-right:20px;
		
		 color: #434a58;
    display: inline-block;
    font-family: "BBVA Web Light";
    font-size: 12px;
    text-align: left;
		
		&.time-span{
			display: inline-block;
		    margin-left: 20px;
		    margin-right: 17px;
		    position: relative;
		    top: -5px;
		    width: 5px;
		}
	}
	
	.newUserbox .new-user-form-holder .form-container .form-field  .bootstrap-select.time {
		width:118px !important;
		display:inline-block;
	}

	
			
	.form-field.textarea textarea{
		height:80px;
	}
	
	.form-field.double > div > .bootstrap-select{
		width: 247px !important;	
	}
	
	 .form-field .fecha , .form-field .tiempo{
	 
	 
	 	.bootstrap-select.time:first-child{
	 		margin-left:20px;
	 	}
	 
	 	height:45px;
	
	
		> span:first-child {
			position: relative;
			top: -16px;
		}
		
	
	
		>.date{
			
			width:245px;
			display:inline-block;
			text-align:left;
			position:relative;
			top:4px;
		
			>input{
			    left: -2px;
			    max-height: 30px;
			    position: relative;
			    width: 215px;
		}
		
		> .add-on{
			display: inline-block;
		    left: 206px;
		    position: relative;
		    top: -30px;
		    width: 40px;
			}
		}
		
	}
	
	.form-field .tiempo span.lbl{
	 		display:inline-block !important;
	 		top:0px !important;
	 	}
}